SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
AUTH_SERVICE_URL=https://auth.peeap.com
API_BASE_URL=https://api.peeap.com
STORE_API_URL=https://store.peeap.com
SERVICE_SECRET=
NEXT_PUBLIC_SHIPPING_URL=https://shipping.peeap.com
